<a href="https://colab.research.google.com/github/zdy-19/hello-world/blob/master/x.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Midterm

![](https://github.com/rpi-techfundamentals/hm-01-starter/blob/master/notsaved.png?raw=1)

**WARNING!!!  If you see this icon on the top of your COLAB sesssion, your work is not saved automatically.**

**Do not manually upload any files.  Use the `wget` command to retreive files.**

**Save your working file in Google drive so that all changes will be saved as you work. MAKE SURE that your final version is saved to GitHub.** 

Before you turn this in, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). They should run completely without intervention...**i.e., DO NOT not manually upload any files.  Use the `wget` command to retreive files as necesssary.**


### This is a 45 point assignment.

**You may find it useful to go through the notebooks from the course materials when doing these exercises.**

**If you receive assistance from anyone (other than instructor clarification) it will be considered an ethical violation and referred to associate dean.  By listing your name below your are confirming that you have received no unauthorized help in this exam and have completed it yourself.**

In [0]:
course="mgmt6560"   #course number
section="2"          #For example 1 or 2
first_name="Dongyuan"   #For example, "jason"
last_name="Zheng"    #For example, "kuruzovich"
student_id="661971101"       #for example "kuruzj"
student_email="zhengd2@rpi.edu"    #for example "kuruzj@rpi.edu"

In [3]:
#get the data
!wget https://www.dropbox.com/s/02brm5nrxe63ea9/midterm2.csv

--2019-10-17 20:47:38--  https://www.dropbox.com/s/02brm5nrxe63ea9/midterm2.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.1, 2620:100:6021:1::a27d:4101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/02brm5nrxe63ea9/midterm2.csv [following]
--2019-10-17 20:47:39--  https://www.dropbox.com/s/raw/02brm5nrxe63ea9/midterm2.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc66708c2d6a305f4c588f667050.dl.dropboxusercontent.com/cd/0/inline/Aqo-qyUOnqb5pvaXEZM6NXAY54VX9yLiSqbxF35-Bw-Nk-jj1zvHWGdrvbvRzHlBAA9PLIaUtQ78Z31RpMMxi9eU8MkbycBYqmzLeshoJyaNPR3qRfTQ4rx2asWs-oI8kU8/file# [following]
--2019-10-17 20:47:39--  https://uc66708c2d6a305f4c588f667050.dl.dropboxusercontent.com/cd/0/inline/Aqo-qyUOnqb5pvaXEZM6NXAY54VX9yLiSqbxF35-Bw-Nk-jj1zvHWGdrvbvRzHlBAA9PLIaUtQ78Z31RpMMxi9eU8MkbycBYqmzLeshoJyaNPR3qRfTQ4rx2asWs-oI8kU8/file
Resolving uc66708c2d6a305f4c588f667050.dl.dropboxusercontent.com (uc66708c2d6a305f4c588f667050.dl.dropboxusercontent.com)... 162.125.65.6, 2620:100:6021:6::a27d:4106
Connecting to uc66708c2d6a305f4c588f667050.dl.dropboxusercontent.com (uc66708c2d6a305f4c588f667050.dl.dropboxusercontent.com)|162.125.65.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 353920 (346K) [text/plain]
Saving to: ‘midterm2.csv’

midterm2.csv        100%[===================>] 345.62K  --.-KB/s    in 0.04s

2019-10-17 20:47:39 (8.92 MB/s) - ‘midterm2.csv’ saved [353920/353920]

In [4]:
import pandas as pd
data  = pd.read_csv("midterm2.csv")
data.head()

   v1  v2  v3  v4  v5  v6  v7  v8  v9  v10  group           y
0   1   1   1   1   1   1   1   1   1    0      0  453.521369
1   1   1   1   1   1   1   1   1   1    1      0  151.919191
2   1   1   0   1   0   1   1   0   1    0      0 -141.666991
3   1   0   1   1   1   1   0   0   0    1      0 -227.245474
4   1   0   0   1   0   0   0   1   0    0      0 -130.752790

### (10 points) 1. Predict Group Using Different Sets of IVs 

Predict the `group` variable from `v1-v5` and then from `v6-v10` using k Nearest Neighbor algorithm and all of the data (i.e., don't do train test split) and the default hyperparameters. **IGNORE  `target` variable for now.** 

`accuracy_v1_5`

`accuracy_v6_10`

In [0]:
from sklearn.datasets import make_classification
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from matplotlib import pyplot
from numpy import array
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [0]:
data = pd.DataFrame(data)

In [0]:
group = data.iloc[:,10]

In [0]:
v1_5 = data.iloc[:,:5]

In [0]:
v6_10 = data.iloc[:,5:10]

In [0]:
classifier = KNeighborsClassifier()
classifier.fit(v1_5,group)
group1_5 = classifier.predict(v1_5)

In [0]:
classifier = KNeighborsClassifier()
classifier.fit(v1_5,group)
group1_5 = classifier.predict(v1_5)

In [0]:
classifier = KNeighborsClassifier()
classifier.fit(v6_10,group)
group6_10 = classifier.predict(v6_10)

In [0]:
accuracy_v1_5 = metrics.accuracy_score(group,group1_5)

In [0]:
accuracy_v6_10 = metrics.accuracy_score(group,group6_10)

### (10 points) 2. Null model

What would the accuracy of the null/naive model be?  Set it `accuracy_null`.

How would you interpret the model for `accuracy_v1_5`, `accuracy_v6_10`, vs the null model.

In [0]:
#Enter this to 1 decimal place. (i.e., not string)
accuracy_null= 1.1  #included as example.

accuracy_null

In [0]:
q1 = """ 
Answer here. 
"""

### (10 points) 3. Perform linear regression using SciKit Learn.  

Perform two regression analyses.  

For `analysis1` select the independent variables `v1-v10` (all v variables) and `group` and regress on the dependent variable `target`.  Calculate the r2  for the linear regression and assign the r2 to the `r2_analysis1` variable.

For `analysis2` filter to only include rows where `group` is equal to 1. Select the independent variables `v1-v10` (all v variables) regress on the dependent variable `target`.  Calculate the r2  for the linear regression and assign the r2 to the `r2_analysis2` variable.

Print `r2_analysis1` and  `r2_analysis2` to make sure they are set.

In [0]:
inde = data.iloc[:,:11]
de = data.iloc[:,11]

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
model = LinearRegression().fit(inde, de)

In [0]:
r2_analysis1 = model.score(inde,de)

In [0]:
#Print r2_analysis1 and r2_analysis2 to make sure they are set.
print(r2_analysis1, r2_analysis2)

### (10 points) Train Test Split
Using the `random_state=99` do a 50 50 train test split of only variables `v1-v10` and the `target` for y.   Your split should create the following 

`train_X`, `test_X`, `train_y`, `test_y`

In [0]:
X= data.iloc[:,:10]

In [0]:
y =data.iloc[:,11]

In [0]:
train_X, test_X, train_y,test_y = train_test_split(X,y,train_size = 0.5, random_state = 99)

### (5. points) Describe why the testing or validation set is important for assessment of a machine learning model.

In [0]:
q5 = """ 
Because it can help avoid model errors like overfitting. For example, when the 
model built on the training data is too complex, it might fit training data well, 
but not good enough when you test this model on your testing set, which means this 
model is not good for your all data. That's why testing data is important.
"""

### You must commit your final notebook to github by 5:50 PM.  Any commits after that time will not be accepted. 

Click [this link](https://classroom.github.com/a/LAzmhlFi) to generate the repository for submission.